.container {
  padding: 0 2rem;
  max-width: 1400px;
  margin: auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid_title {
  margin-bottom: 2em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2em;
}

.title {
  margin-bottom: 150px;
}

.title h1 {
  margin-bottom: 0.2em;
}

.title p {
  color: gray;
}

.card {
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
}

.card .image_wrapper {
  overflow: hidden;
  height: 24rem;
}

.card .image_wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 24rem;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.card .image_wrapper img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 300ms ease-in-out transform;
  transition: 300ms ease-in-out transform;
}

.card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.card .info h4 {
  font-size: 1.25em;
  color: #4d4d4d;
}

.card .info img:hover {
  -webkit-animation: bellshake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: bellshake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  30% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  45% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  85% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  30% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  45% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  85% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (min-width: 720px) {
  .grid {
    width: 100%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=Home.module.css.map */